
body{
    margin: 0;
   text-align: center;
    font-size: 200%;
    color: #40514E;
    
}


h1{
  
    margin:50px auto 0 auto;
    
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #FFF9D7;
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #610C63;
    font-weight: normal;
    padding-bottom: 20px;

}
h3{
    font-family: 'Merriweather', serif;
    color: #EE81B3;
}
.top-container{
    background-color:#610C63;
    position: relative;
    padding-top: 100px;
}

.mon{
    position: relative;
}
.middle-container{
    padding: 100px 0;
    background-color: #FFF9D7;
}
.profile-pic{
    width: 10%;
}
.intro{
    width: 30%;
    margin: auto;
}
.bottom-container{
   background-color: #EE81B3;
   padding: 50px 0 20px;
}
a{
    color: #93e6e9;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover{
    color: #610C63;
}
.copyright{
    color: #EAF6F6;
    font-size: 1.5rem;
    padding: 20px 0;
}
.web{color: #FFF9D7;}

div{
  /*  margin-top: 6%;
    margin-left: 40%;
    color: #687980;
    */
    
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;

    
 
}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
    
}
.bot-cloud{
    position: relative;
    left: -100px;
    top: -500px;
}

.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    
}
.s1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.s2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

p{
    line-height: 1.5;
}
hr{
    border: dotted #FFC4C4 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #EE81B3;
    background-image: -webkit-linear-gradient(top, #EE81B3, #C689C6);
    background-image: -moz-linear-gradient(top, #EE81B3, #C689C6);
    background-image: -ms-linear-gradient(top, #EE81B3, #C689C6);
    background-image: -o-linear-gradient(top, #EE81B3, #C689C6);
    background-image: linear-gradient(to bottom, #EE81B3, #C689C6);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FCC5C0;
    background-image: -webkit-linear-gradient(top, #FCC5C0, #FFF9D7);
    background-image: -moz-linear-gradient(top, #FCC5C0, #FFF9D7);
    background-image: -ms-linear-gradient(top, #FCC5C0, #FFF9D7);
    background-image: -o-linear-gradient(top, #FCC5C0, #FFF9D7);
    background-image: linear-gradient(to bottom, #FCC5C0, #FFF9D7);
    text-decoration: none;
  }
